# 專案排除路徑
/mybatis_cache/target/
/mybatis_dynamicSQL/target/
/mybatis_mbg/target/
/mybatis_parameter/target/
/mybatis_resultMap/target/
/spring-aop/target/
/spring-transaction/target/
/spring_helloworld/target/
/spring_ioc_annotation/target/
/spring_ioc_xml/target/
/spring_listener/target/
/spring_mvc_ajax/target/
/spring_mvc_annotation/target/
/spring_mvc_demo/target/
/spring_mvc_extension/target/
/spring_mvc_helloworld/target/
/spring_mvc_rest/target/
/ssm/target/